<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" layout:decorator="layouts/main">
<p layout:fragment="content">
<div id="feedback">
    <p th:text="'Velkommen '+ ${username}"></p>

<tr th:each="melding : ${meldinger}">
    <td><span th:text="${melding.getFrabruker().getName()}"> Melding fra </span></td>
    <td><span th:text="${melding.getMelding()}"> melding tekst </span></td>
</tr>
</div>
</p>
</html>